@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background: url('./assets/backgroundImg.jpg') no-repeat;
    background-size: cover;
}

#main-site{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid{
    width: 80%;
    height: 80%;
}

.text-center{
    text-align: center;
}

.py-1{
    padding-top: 1em;
    padding-bottom: 1em;
}

.py-2{
    padding-top: 2em;
    padding-bottom: 2em;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.text-white{
    color: #efefef;
}

.text-light{
    color: #dee2e6;
}

.link{
    text-decoration: none;
    color: #fca311;
}


.glass{
    max-width: 550px;
    width: 100%;
    padding: 65px 90px 45px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.3);
    /* important property */
    backdrop-filter: blur(5px);
}

.glass .title h1{
    font-size: 35px;
}

.glass form .form-control{
    width: 80px;
    padding: .3em .1em;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.glass form .col .btn{
    width: 90%;
    padding: .6em .1em;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #fca311;
    color: #efefef;
    border: none;
}